<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YonAvm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YonAvm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <YonAvm.Properties.Settings>
            <setting name="connectionstring" serializeAs="String">
                <value />
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="SIPToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DidCentraluuid" serializeAs="String">
                <value />
            </setting>
            <setting name="DidCentralcode" serializeAs="String">
                <value />
            </setting>
            <setting name="DidApiUrl" serializeAs="String">
                <value>http://45.11.98.230</value>
            </setting>
            <setting name="DidlicUserId" serializeAs="String">
                <value>Licesned_for_Andan-A1A2-476A-D50E2E43-56BE-59AC-7C83-F09DADFC8311</value>
            </setting>
            <setting name="DidlicKey" serializeAs="String">
                <value>CSfU1+IWwdgH3Xxm5FVXOYUdE6zqXYkDrqn/IufVrk06OvpgvgM2vVtMsojZ5OQukoJmLcxN7qDxuJMdgKZZsw==</value>
            </setting>
            <setting name="DidApikey" serializeAs="String">
                <value />
            </setting>
            <setting name="ParkToken" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoToken" serializeAs="String">
                <value />
            </setting>
        </YonAvm.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PostBoxServiceEndpoint" maxReceivedMessageSize="655640">
                    <security mode="Transport" />
                </binding>
                <binding name="PostBoxServiceEndpoint_http" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pb-g.elogo.com.tr/PostBoxService.svc"
                binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint"
                contract="Logo.IPostBoxService" name="PostBoxServiceEndpoint" />
            <endpoint address="http://pb.elogo.com.tr/PostBoxService.svc"
                binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint_http"
                contract="Logo.IPostBoxService" name="PostBoxServiceEndpoint_http" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <YonAvm.Properties.Settings>
            <setting name="YonAvm_EFaturaIntegrationService_EFaturaIntegration"
                serializeAs="String">
                <value>https://ws.parkentegrasyon.com.tr/EFaturaIntegration.asmx</value>
            </setting>
        </YonAvm.Properties.Settings>
    </applicationSettings>
</configuration>